* {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-image: url(../images/friendsquiz.jpg);
    min-height: 100%;
}


.choice-container {
   display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgba(153, 51, 255);
    background-color: white;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(51, 51, 51, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color:rgba(102, 0, 204);
    color: white;
}

.choice-text {
    padding: 1.5rem;
    width: 100%;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

/* quiz stats styling */
#quiz-stats {
    display: flex;
    justify-content: space-between;
    
}

#quiz-items p{
    color: whitesmoke;
    font-size: 3vw;
    text-align: center;
}

#quiz-items h1 {
    text-align: center;
    font-size: 2.5vw;
}

/* quiz stats end */

